.sisetu{
    width: 100%;
}

table tr{  
    gap: 20px; 
    width: 800px;
    background-color: #99FF99;
}

table tr{  
    gap: 20px; 
    width: 800px;
    background-color: #CCFFCC;
}

.image {
    width: 150px;
    height: 100px;
}